<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Specie</th>
            <th>Nome</th>
            <th>Peso</th>
            <th>Se ha peli</th>
            <th>Provenienza</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of listaanimali">
            <td>{{ s.id }}</td>
            <td>{{ s.specie }}</td>
            <td>{{ s.nome }}</td>
            <td>{{ s.peso }}</td>
            <td>
                <span *ngIf="s.peli === true" class="text-primary">SI</span>
                <span *ngIf="s.peli === false" class="text-danger">NO</span>
            </td>
            <td>{{ s.provenienza }}</td>
            <td>
                <button type="button" (click)="elimina(s.id)" class="btn btn-danger">X</button>
            </td>
        </tr>
    </tbody>
</table>