.semaforo {
    height: 50vh;
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}
.light.red {
    background-color: red;
    opacity: 0.2;
}
.light.yellow {
    background-color: yellow;
    opacity: 0.2;
}
.light.green {
    background-color: green;
    opacity: 0.2;
}
.on {
    opacity: 1 !important;
}