.lampadina {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 100px auto;
    cursor: pointer;
    border: 3px solid #333;
    transition: all 2s ease-in-out;
}

.lampadina.off {
    background-color: #000;
    box-shadow: none;
}

.lampadina.on {
    background-color: yellow;
    box-shadow: 0 0 10px 10px rgb(208, 208, 120);
}